.body_content {
    /*left and right spacing*/
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    /*top spacing*/
    margin-top: 25px;
}

.title {
    font-size: 500%;
    margin: 100px;
}

