<center>
    <h1 class="title">This is ScioPrac</h1>
</center>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>About this app</h3>
            </div>
            <div class="panel-body">
                ScioPrac is an app where students
                from all over the country upload 
                questions about different events,
                and other students can access those
                questions and practice with them.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>Inspiration</h3>
            </div>
            <div class="panel-body">
                I wanted to make this app because
                I thought that there wasn't enough
                practice that we could do. With this app
                students could have more practice
                and face a larger variety of questions.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>Design</h3>
            </div>
            <div class="panel-body">
                As you can see, this app looks pretty
                basic, because I don't have any
                experience with design. (Although
                if any of you have some experience with web design, 
                contact me!) 

            </div>
        </div>
    </div>
</div>
